body {
  margin: auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  background-color: #EEEEEE;
}

div {
  margin-bottom: 2.5rem;
}

h2, p {
  margin: 0px;
}